<div class="container">
  <mat-toolbar color="primary">
    <button mat-button routerLink="/repo">
      <mat-icon>home</mat-icon> Helix Report
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/repo">Report</button>
    </div>

    <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/help">Help</button>
  </mat-menu>

  <router-outlet></router-outlet>
</div>
